@CHARSET "ISO-8859-1";

body{
	width:100%;
	margin: 1% 0 0 0;
}
img{
	
}
#logo{
	width: 420px;
	margin:0 auto;
}
#todo{
	width: 760px;
	margin:0 auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #313246;
}
#todo2{
	width: 400px;
	margin:0 auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #313246;
}
h1{
	color: #313246;
	text-align: center;
}
/* LINKS */
#link1{
    font-size: 25px;
    margin-left: 3px;
}
#form2\3a link2{
	font-size: 25px;
    margin-left: 710px;
}
#form2{
	margin-top: 27px;
    margin-bottom: 10px;
}
/*      */
#j_idt8\3a j_idt24{
	margin-left: 380px;
}
#j_idt4{
	width: 383px;
    height: 125px;
    margin: 0 auto;
    padding: 6px;
}
#j_idt6\3a j_idt7 {
    margin: 0 auto;
}
#formCadastro > table > tbody > tr:nth-child(15) > td:nth-child(3){
	position: relative; 
	float: left;
	left: -272px;
	
}